Repository ValentinShtankoAimtraction/test-playground: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, npm run lint

.lintstagedrc:

{
  "*.{js,json,md,html}": [
    "prettier --write"
  ],
  "*.scss": [
    "prettier --write",
    "npm run lint-css"
  ],
  "*.ts": [
    "prettier --write",
    "npm run lint"
  ]
}

test
  .husky/.gitignore
  .husky/pre-commit
Due: none

Test commit
  .husky/.gitignore
  .husky/pre-commit
  e2e/protractor.conf.js
  e2e/src/app.e2e-spec.ts
  e2e/tsconfig.json
  package.json
  pre-commit-hook.sh
  src/app/app.component.html
  src/app/app.component.ts
Due: prettier --write, npm run lint

Install commitlint
  .husky/.gitignore
  commitlint.config.js
  package-lock.json
  package.json
Due: prettier --write

Install jest
  angular.json
  jest.config.js
  karma.conf.js
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/index.html
  src/test.ts
  tsconfig.json
  tsconfig.spec.json
Due: prettier --write, npm run lint

Test schedule
  src/app/schedule-task/components/index.ts
  src/app/schedule-task/components/schedule-task/mock-schedule.ts
  src/app/schedule-task/components/schedule-task/schedule-task.component.html
  src/app/schedule-task/components/schedule-task/schedule-task.component.scss
  src/app/schedule-task/components/schedule-task/schedule-task.component.spec.ts
  src/app/schedule-task/components/schedule-task/schedule-task.component.ts
  src/app/schedule-task/schedule-task.module.ts
  src/app/schedule-task/types/index.ts
  src/app/schedule-task/types/schedule-day.interface.ts
  src/app/schedule-task/types/schedule-timespan.interface.ts
  src/app/schedule-task/types/schedule.interface.ts
Due: prettier --write, npm run lint-css, npm run lint
